#dark .el-table tr.el-table__row:nth-child(odd), #dark .el-tree, #dark .h-page-headerter-tree {
  background: inherit;
}
#dark .el-tree-node__expand-icon {
  color: #008DD4;
}
#dark .el-tree {
  height: calc(100% - 54px);
}