@font-face {
  font-family: "iconfont"; /* Project id 3555616 */
  src: url('iconfont.woff2?t=1659082933896') format('woff2'),
       url('iconfont.woff?t=1659082933896') format('woff'),
       url('iconfont.ttf?t=1659082933896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e711";
}

.icon-userHeader:before {
  content: "\e708";
}

.icon-logOut:before {
  content: "\e722";
}

.icon-company:before {
  content: "\e727";
}

.icon-address:before {
  content: "\e728";
}

.icon-fireFightObj:before {
  content: "\e729";
}

.icon-explosive:before {
  content: "\e72a";
}

.icon-deviceManage:before {
  content: "\e72b";
}

.icon-dailyTest:before {
  content: "\e72c";
}

.icon-dataTest:before {
  content: "\e72d";
}

.icon-journal:before {
  content: "\e72e";
}

.icon-listNumber:before {
  content: "\e72f";
}

.icon-fireTest:before {
  content: "\e730";
}

.icon-home:before {
  content: "\e731";
}

.icon-pointPosition:before {
  content: "\e732";
}

.icon-time:before {
  content: "\e733";
}

